{% extends 'public/base.html' %}
{% load static %}


{% block meta_css %}
    <link href="css/check.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block meta_js %}
    <!--引入CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'webuploadar/webuploader.css' %}">
    <!--引入JS-->
    <script type="text/javascript" src="{% static 'webuploadar/webuploader.js' %}"></script>
{% endblock %}

{% block header %}
    <header data-am-widget="header" class="am-header am-header-default sq-head ">
        <div class="am-header-left am-header-nav">
            <a href="javascript:history.back()" class="">
                <i class="am-icon-chevron-left"></i>
            </a>
        </div>
        <h1 class="am-header-title">
            <a href="" class="">个人资料</a>
        </h1>
    </header>
    <div style="height: 49px;"></div>
{% endblock %}

{% block content %}
    <ul class="safty1">
        <li>
            <i style="margin-top: 25px;">头像</i>
            <div class="infor-pic">
                <img id="head_img" src="{{ MEDIA_URL }}{{ user.head }}"/>
            </div>
            <div id="uploader-demo">
                <!--用来存放item-->
                <div id="fileList" class="uploader-list"></div>
                <div id="filePicker" style="float: right;margin-top: 10px;">选择图片</div>
            </div>
        </li>
        <li>
            <i>昵称</i>
            <input class="infor-tele" placeholder="{{ user.nickname }}"/>
        </li>
        <li>
                <i>性别</i>
                <i class="infor-tele">
                    <label class="am-radio-inline">
                        <input type="radio" name="radio10" checked="checked" value="1" data-am-ucheck>男
                    </label>
                    <label class="am-radio-inline">
                        <input type="radio" name="radio10" value="1" data-am-ucheck>女
                    </label>
                </i>

        </li>
        <li>
                <i>生日</i>
                <input class="infor-tele" placeholder="{{ user.birthday }}"/>
        </li>
    </ul>
    <div style="height: 10px; background: #efefef;"></div>
    <ul class="safty1">
        <li>
            <i>学校</i>
            <input class="infor-tele" placeholder="{{ user.school_name }}"/>
        </li>
        <li>
            <i>位置</i>
            <input class="infor-tele" placeholder="{{ user.address }}"/>
        </li>
        <li>
            <i>故乡</i>
            <input class="infor-tele" placeholder="{{ user.hometown }}"/>
        </li>
        <li>
            <i>手机</i>
            <input class="infor-tele" placeholder="{{ user.phone }}"/>
        </li>
    </ul>
{% endblock %}

{% block footer_js %}
    <script>
        // 初始化Web Uploader
        var uploader = WebUploader.create({

            // 选完文件后，是否自动上传。
            auto: true,

            // swf文件路径
            swf: "{% static 'webuploader/Uploader.swf' %}",

            // 文件接收服务端。
            server: '{% url "sp_user:upload_head" %}',

            // 选择文件的按钮。可选。
            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
            pick: '#filePicker',

            // 只允许选择图片文件。
            accept: {
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/*'
            }
        });
        // 当有文件添加进来的时候
        uploader.on('fileQueued', function (file) {
            $img = $('#head_img');
            // 创建缩略图
            // 如果为非图片文件，可以不用调用此方法。
            // thumbnailWidth x thumbnailHeight 为 100 x 100
            uploader.makeThumb(file, function (error, src) {
                $img.attr('src', src);
            }, 100, 100);
        });
    </script>
{% endblock %}